@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --azul: #0018eb;
    --verde-degrade: linear-gradient(97.54deg, #006d4c 35.49%, #07c088 165.37%);
    --fonte-principal: "Poppins";
    --vermelho: #da0808;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --vermelho: #ff0000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

